/*===== variables =====*/

$block_padding: 150px;

/*===== main styles =====*/
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1f1e1d;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button,
input {
  font-family: "Montserrat", sans-serif;
  border: none;
  appearance: none;
  outline: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.block__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #1f1e1d;
}

.btn__link {
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #1f1e1d;
  transition: background-color 0.2s ease-in-out;
}

.btn__yellow {
  background: #ffcb09;

  &:hover {
    background: #ffd741;
  }
}

.btn__grey {
  background: #efefef;

  &:hover {
    background: #ffcb09;
  }
}

/*===== header styles =====*/

.header {
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);

  & .container {
    max-width: 1718px;
    display: flex;
    justify-content: space-between;
  }
}

.header__top {
  padding: 9px 0 8px;
  border-bottom: 1px solid #e3e3e3;
}

.header__top .container,
.header__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__menu ul {
  display: flex;
  align-items: center;
}

.header__elem {
  position: relative;
  margin-right: 70px;
  cursor: pointer;
}

.header__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffcb09;
  }

  &:last-child {
    margin-right: 0;
  }

  & svg {
    margin-left: 8px;
  }

  & path {
    transition: stroke 0.2s ease-in-out;
  }

  &:hover path {
    stroke: #ffcb09;
  }
}

.header__company {
  height: 341px;
}

.header__services {
  height: 304px;
}

.header__cont {
  height: 82px;
}

.dropdown_menu {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 5;
  width: 270px;
  padding: 30px 20px 35px 20px;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  border-radius: 0px 0px 10px 10px;
  cursor: default;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  & .header__link {
    margin-bottom: 20px;
  }

  & .header__link:last-child {
    margin-bottom: 0;
  }
}

.dropdown_show::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 20px;
  cursor: default;
}

.dropdown_show:hover .header__list {
  color: #ffcb09;

  & path {
    stroke: #ffcb09;
  }
}

.header__search {
  display: flex;
  align-items: center;
  width: 33%;
  height: 36px;
  background: #f5f7fb;
  border-radius: 100px;

  & img {
    margin: 0 14px 0 30px;
  }

  & input {
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1f1e1d;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
  }

  & input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #999;
  }
}

.header__logo {
  position: relative;
  width: 203px;
  height: 39px;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;

  &:nth-child(1) {
    margin-right: 49px;
  }

  &:nth-child(2) {
    margin-right: 63px;
  }

  &:nth-child(3) {
    margin-right: 59px;
  }
}

.header__contact {
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffcb09;
  }
}

.header__messengers {
  position: absolute;
  top: -20px;
  right: -52px;
  display: flex;
  align-items: flex-end;

  & svg {
    cursor: pointer;
  }

  & path {
    transition: fill 0.2s ease-in-out;
  }
}

.header__whatsapp,
.header__viber {
  position: relative;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.header__viber {
  position: relative;
  top: 2px;
}

.header__whatsapp:hover path:first-child {
  fill: #00e676;
}

.header__viber:hover path:first-child {
  fill: #7b519c;
}

/*===== intro styles =====*/

.intro {
  padding-top: 122px;
  background: url("./../img/intro/intro-bg.jpg") center / cover no-repeat;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
}

.intro__about {
  width: 43%;
  margin-right: 6%;
}

.intro__info {
  position: relative;
  top: 55px;
  width: 51%;
  display: flex;
  flex-wrap: wrap;
}

.intro__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
}

.intro__slider {
  position: relative;
  width: 100%;
  min-height: 229px;
  margin-bottom: 7px;
  background: #fff;
  border-radius: 10px;
}

.intro__slide {
  padding: 30px 35px 0 30px;
  box-sizing: border-box;
}

.intro__header {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #1f1e1d;
}

.intro__text {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.intro__nav {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  display: flex;
}

.intro__prev,
.intro__next {
  position: relative;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}

.intro__navButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  transition: all 0.2s ease-in-out;
}

.intro__prev:hover .intro__navButton,
.intro__next:hover .intro__navButton {
  transform: scale(1.1);
}

.intro__prev {
  margin-right: 16px;
}

.intro__news,
.intro__promotion {
  width: 49.5%;
  min-height: 229px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.intro__news {
  margin-right: 1%;
}

.intro__category {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffcb09;
  }
}

.intro__name {
  margin-bottom: 39px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #1f1e1d;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffcb09;
  }
}

.intro__statistics {
  display: flex;
  justify-content: space-between;
}

.intro__posted,
.intro__watches,
.intro__likes {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #acacac;
}

/*===== fixed styles =====*/

.fixed {
  position: fixed;
  right: 18px;
  bottom: 18px;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.fixed__toTop {
  position: relative;
  margin-bottom: 13px;
  width: 54px;
  height: 54px;
  cursor: pointer;

  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
  }
}

.button-bg {
  width: 54px;
  height: 54px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  transition: transform 0.2s linear;
}

.fixed__toTop:hover .button-bg {
  transform: scale(1.1);
}

.fixed__showField {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  & circle {
    transition: fill 0.2s ease-in-out;
  }

  &:hover circle {
    fill: #ffd741;
  }
}

.fixed__feedback {
  position: fixed;
  right: 83px;
  bottom: 20px;
  z-index: 1200;
  width: 381px;
  height: 308px;
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
  visibility: visible;
  opacity: 0;
  transform: scale(0);

  &.active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

.fixed__close {
  position: absolute;
  top: -24px;
  right: -24px;
  width: 21px;
  height: 21px;
  z-index: 2;
  cursor: pointer;
}

.fixed__feedbackTitle {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.fixed__item {
  display: block;
  width: 100% !important;
  height: 34px;
  margin-right: 0;
  margin-bottom: 30px;
}

.fixed__name::placeholder,
.fixed__phone::placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
}

.fixed__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.12);
  transition: opacity 0.2s ease-in-out;
  visibility: visible;
  opacity: 0;
  transform: scale(0);

  &.active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

/*===== technics styles =====*/

.technics {
  padding-top: $block_padding;
  padding-bottom: $block_padding;
}

.technics__title {
  margin-bottom: 30px;
}

.technics__wrapper {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 320px 320px;
  gap: 30px;
}

.technics__item {
  position: relative;
  padding: 20px 22px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  }

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    outline: none;
  }
}

.technics__img {
  margin-bottom: 30px;
  //!!! Привести картинки к одному размеру
  // & img {
  //   display: block;
  //   width: 100%;
  //   height: auto;
  // }
}

.technics__name {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #1f1e1d;
}

.technics__price {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1f1e1d;
}

.technics__offers {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #acacac;
}

/*===== about styles =====*/

.about {
  padding-top: $block_padding;
  padding-bottom: $block_padding;
  background: #f5f7fb url("./../img/about/about-bg.png") top right no-repeat;
}

.about__title {
  margin-bottom: 40px;
}

.about__wrapper {
  margin-bottom: 40px;
}

.about__top,
.about__bottom {
  display: flex;
}

.about__top {
  margin-bottom: 2px;

  & .about__dark {
    background: url("./../img/about/1.jpg") center / cover no-repeat;
  }
}

.about__bottom {
  & .about__dark {
    background: url("./../img/about/2.jpg") center / cover no-repeat;
  }
}

.about__light {
  width: 55%;
  display: flex;
}

.about__light,
.about__dark {
  min-height: 307px;
}

.about__first,
.about__second {
  flex: 1;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 23px 45px 30px;
}

.about__first {
  margin-right: 2px;

  & h4 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 19px;
    line-height: 120%;
    color: #1f1e1d;
  }

  & img {
    display: block;
    width: 58%;
    height: auto;
    margin: 0 auto;
  }
}

.about__second {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.about__number {
  font-size: 64px;
  line-height: 120%;
  color: #1f1e1d;
}

.about__text {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;

  &:nth-child(2) {
    margin-bottom: 30px;
  }
}

.about__dark {
  width: 45%;
  padding: 91px 122px 20px 30px;
  border-radius: 10px;
}

.about__subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.about__description {
  font-size: 14px;
  line-height: 170%;
  color: #fff;
}

.about__link {
  margin: 0 auto;
}

/*===== catalog styles =====*/

.catalog {
  padding-top: $block_padding;
  padding-bottom: $block_padding;
}

.catalog__title {
  margin-bottom: 20px;
}

.catalog__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.catalog__search {
  display: flex;
  align-items: center;
  width: 86%;
  height: 36px;
  margin-right: 2%;
  padding: 0 26px;
  border: 1px solid #e3e3e3;
  border-radius: 100px;

  & img {
    margin-left: 15px;
  }

  & input {
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1f1e1d;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
  }

  & input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #999;
  }
}

.catalog__sort {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  cursor: pointer;

  & span {
    margin-right: 8px;
  }
}

.catalog__categories {
  width: 100%;
}

.catalog__category {
  float: left;
  margin: 0 10px 10px 0;
  padding: 7px 12px 9px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 100px;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    border: 1px solid rgba(227, 227, 227, 0.5);
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  }

  &.active {
    border: 1px solid #ffcb09;
  }
}

.clearfix {
  clear: both;
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 22px;
}

.catalog__item {
  position: relative;
  min-height: 301px;
  margin-bottom: 30px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  animation: addItems 0.4s ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.09);
  }

  &:hover .catalog__button {
    visibility: visible;
    opacity: 1;
  }
}

.catalog__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.catalog__button {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 123px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: #ffcb09;
  }
}

.catalog__img {
  width: 100%;
  height: 135px;
  border-radius: 10px 10px 0 0;

  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
}

.catalog__info {
  padding: 10px 16px 10px;
}

.catalog__header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #1f1e1d;
}

.catalog__options {
  margin-bottom: 10px;
}

.catalog__feature {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
}

.catalog__name {
  color: #a3a3a3;
}

.catalog__value {
  text-align: right;
  color: #4d5051;
}

.catalog__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1f1e1d;
}

.catalog__more {
  margin: 20px auto 0;
}

/*===== first feedback styles =====*/

.first__feedback .container {
  padding: 70px 73px 75px 73px;
  background: #f5f7fb;
  border-radius: 10px;
}

.feedback__title {
  margin-bottom: 24px;
}

.feedback__subtitle {
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
}

.feedback__form {
  display: flex;
}

.feedback__item {
  position: relative;
  width: 31.25%;
  margin-right: 4.8%;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4d5051;
    transition: background-color 0.2s ease-in-out;
  }

  &.error::after {
    background-color: #fc3a3a;
  }

  &.error .feedback__name::placeholder,
  &.error .feedback__phone::placeholder {
    color: #fc3a3a;
  }
}

.feedback__name,
.feedback__phone {
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
}

.feedback__name::placeholder,
.feedback__phone::placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
  transition: color 0.2s ease-in-out;
}

/*===== services styles =====*/

.services {
  padding-top: $block_padding;
  padding-bottom: $block_padding;
}

.services__title {
  margin-bottom: 40px;
}

.services__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 253px);
  gap: 30px;
}

.services__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px 0;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;

  &:first-child {
    border: none;
    background: url("./../img/services/1.jpg") center / cover no-repeat;
  }

  &:hover {
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  }
}

.services__info {
  text-align: center;
}

.services__header {
  margin: 0 26px 20px 26px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.services__text {
  margin: 0 36px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.services__item:first-child {
  & .services__header {
    color: #fff;
  }

  & .services__text {
    max-width: 66.5%;
    margin: 0 auto;
    color: #fff;
  }
}

.services1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.services2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.services3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.services4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.services5 {
  grid-column-start: 3;
  grid-column-end: 4;
}

/*===== advantage styles =====*/

.advantage {
  padding-bottom: $block_padding;
}

.advantage__container {
  display: flex;
  justify-content: space-between;
}

.advantage__main {
  width: 43%;
  margin-right: 7.5%;
}

.advantage__title {
  margin-bottom: 20px;
}

.advantage__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.advantage__wrapper {
  width: 48.5%;
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 50px 14px;
}

.advantage__border {
  height: 100%;
  background-color: #efefef;
}

.advantage__icon {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.advantage__header {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.advantage__description {
  font-size: 14px;
  line-height: 150%;
  color: #4d5051;
}

/*===== news styles =====*/

.news {
  padding-bottom: $block_padding;
}

.news__title {
  margin-bottom: 40px;
}

.news__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 253px);
  gap: 30px;
  margin-bottom: 50px;
}

.news1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.news2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.news3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.news4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.news5 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.news__item {
  padding: 20px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;

  &:first-child {
    border: none;
    background-color: #f5f7fb;
  }

  &:hover {
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  }
}

.news__header {
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.news__info {
  height: 8%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #acacac;
}

.news__statistics {
  display: flex;
  justify-content: space-between;
}

.news__views {
  margin-right: 21px;
}

.news__icon {
  margin-right: 6px;
}

.news__more {
  margin: 0 auto;
}

/*===== brands styles =====*/

.brands {
  padding-top: $block_padding;
  padding-bottom: $block_padding;
  background-color: #f5f7fb;
}

.brands__title {
  width: 72%;
  margin-bottom: 40px;
}

.brands__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 70px);
  gap: 20px;
}

.brands__item {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;

  & img {
    display: block;
  }
}

.brands__item:nth-child(1) img {
  width: 72.5%;
}

.brands__item:nth-child(2) img {
  width: 52%;
}

.brands__item:nth-child(3) img {
  width: 37.6%;
}

.brands__item:nth-child(4) img {
  width: 93.6%;
}

.brands__item:nth-child(5) img {
  width: 81.7%;
}

.brands__item:nth-child(6) img {
  width: 40%;
}

.brands__item:nth-child(7) img {
  width: 83.5%;
}

.brands__item:nth-child(8) img {
  width: 68.8%;
}

.brands__item:nth-child(9) img {
  width: 74.3%;
}

.brands__item:nth-child(10) img {
  width: 60.55%;
}

.brands__item:nth-child(11) img {
  width: 67.4%;
}

.brands__item:nth-child(12) img {
  width: 78.9%;
}

.brands__item:nth-child(13) img {
  width: 81.7%;
}

.brands__item:nth-child(14) img {
  width: 81.7%;
}

.brands__item:nth-child(15) img {
  width: 90.8%;
}

/*===== need styles =====*/

.need {
  padding-top: $block_padding;
  padding-bottom: $block_padding;
}

.need__title {
  width: 82%;
  margin-bottom: 20px;
}

.need__text {
  width: 87%;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;

  &:nth-child(2) {
    margin-bottom: 20px;
  }

  &:nth-child(4) {
    margin-bottom: 10px;
  }
}

.need__wrapper {
  display: flex;
  margin-bottom: 20px;
}

.need__list:first-child {
  margin-right: 100px;
}

.need__list li {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;

  &:last-child {
    margin-bottom: 0;
  }

  & img {
    margin-right: 10px;
  }
}

/*===== causes styles =====*/

.causes {
  padding-top: $block_padding;
  padding-bottom: $block_padding;
  background: url("./../img/causes/causes-bg.jpg");
}

.causes__container {
  display: flex;
  justify-content: space-between;
}

.causes__main {
  width: 44%;
  margin-right: 4.5%;
}

.causes__title {
  margin-bottom: 20px;
  color: #fff;
}

.causes__text {
  color: #fff;
}

.causes__text,
.causes__description {
  font-size: 14px;
  line-height: 170%;
}

.causes__wrapper {
  width: 51.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 297px);
  gap: 7px;
}

.causes__item {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  border-radius: 10px;
}

.causes__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}

/*===== reasons styles =====*/

.reasons {
  padding-top: $block_padding;
  padding-bottom: $block_padding;
}

.reasons__title {
  width: 61%;
  margin-bottom: 30px;
}

.reasons__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 253px);
  gap: 30px;
  margin-bottom: 50px;
}

.reason1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.reason2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.reason3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.reason4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.reason5 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.reasons__item {
  padding: 30px 30px 50px 30px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;

  &:first-child {
    border: none;
    background-color: #f5f7fb;
  }

  &:hover {
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  }
}

.reasons__text {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.reason1 .reasons__text:first-child {
  margin-bottom: 10px;
}

.reasons__number {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 120%;
  color: #ffcb09;
}

/*===== machines styles =====*/

.machines {
  padding-bottom: $block_padding;
}

.machines__title {
  width: 58%;
  margin-bottom: 30px;
}

.machines__intro {
  margin-bottom: 30px;
  padding: 104px 0 114px;
  border-radius: 10px;
  background: url("./../img/machines/machines__bg.jpg") center / cover no-repeat;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  }
}

.machines__header,
.machines__subheader {
  margin: 0 auto;
  text-align: center;
}

.machines__header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.machines__subheader {
  width: 52%;
  font-size: 14px;
  line-height: 170%;
  color: #fff;
}

.machines__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 70px);
  gap: 30px;
  margin-bottom: 30px;
}

.machines__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 6px;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  }
}

.machines__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.machines__name {
  text-align: center;
  padding: 13px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 170%;
  color: #4d5051;
}

.machines__text {
  width: 86%;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;

  &:last-child {
    margin-bottom: 0;
  }
}

/*===== reviews styles =====*/

.reviews {
  padding-bottom: $block_padding;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__slider-container,
.reviews__slider {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.reviews__slider {
  z-index: 3;
}

.reviews__preview {
  position: relative;
  z-index: 3;
  width: 31.62%;
  height: 300px;
  overflow: hidden;
  background-color: #999;
  border-radius: 10px;
  cursor: pointer;

  & img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.2s ease-in-out;
  }

  &:hover img {
    transform: scale(1.2);
  }
}

.reviews__item {
  width: 100%;
  display: flex;
}

.reviews__info {
  position: relative;
  width: 68.38%;
  height: 300px;
  box-sizing: border-box;
  padding: 63px 110px 70px 36px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  }
}

.reviews__header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.reviews__text {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.reviews__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.reviews__nav {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.reviews__prev,
.reviews__next {
  position: relative;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
  }
}

.reviews__prev {
  left: -70px;
}

.reviews__next {
  right: -70px;
}

.reviews__navButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  transition: all 0.2s ease-in-out;
}

.reviews__prev:hover .reviews__navButton,
.reviews__next:hover .reviews__navButton {
  transform: scale(1.1);
}

/*===== feedback styles =====*/

.feedback.second__feedback {
  padding: 80px 0 100px;
  background-color: #f5f7fb;
}

/*===== footer styles =====*/

.footer {
  padding: 43px 0 0;
}

.footer__logo {
  max-width: 252px;
  position: relative;
  margin-bottom: 30px;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-areas:
    "info nav"
    "other nav"
    "social nav";
  grid-template-columns: 330px 165px;
  grid-template-rows: 180px 67px 30px;
  gap: 43px 370px;
  margin-bottom: 33px;
}

.footer__info {
  grid-area: info;
}

.footer__nav {
  grid-area: nav;
}

.footer__other {
  grid-area: other;
}

.footer__social {
  grid-area: social;
  display: flex;
  justify-content: space-between;
}

.ft_link {
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffcb09;
  }
}

.footer__text {
  position: relative;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;

  &:last-child {
    margin-bottom: 0;
  }

  & svg {
    margin-right: 8px;
  }

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  & path {
    transition: fill 0.2s ease-in-out;
  }

  &:hover path {
    fill: #ffcb09;
  }
}

.footer__link {
  display: block;
  width: 100%;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1f1e1d;
}

.footer__el {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1f1e1d;

  &:first-child {
    margin-bottom: 23px;
  }
}

.footer__item {
  position: relative;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.footer__bottom {
  padding: 20px 0 21px;
  background-color: #f5f7fb;
}

.footer__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__company,
.footer__dev {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

/* появление блоков при скролле */

.element-animation {
  opacity: 0;
  transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}

/* Стили при работе с формами */

input::placeholder {
  transition: color 0.2s ease-in-out;
}

input:focus::placeholder {
  color: transparent;
}

form {
  position: relative;
}

.error__message {
  position: absolute;
  top: -23px;
  left: 0;
  font-size: 12px;
  line-height: 170%;
  color: #fc3a3a;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

/*==== animations ====*/

@keyframes addItems {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*===== adaptive styles =====*/

@media (max-width: 1600px) {
  .header .container {
    max-width: 1230px;
  }

  .header__elem {
    margin-right: 40px;
  }

  .header__search {
    width: 360px;
  }
}
