@charset "UTF-8";
/*===== variables =====*/
/*===== main styles =====*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #1f1e1d;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button,
input {
  font-family: "Montserrat", sans-serif;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.block__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #1f1e1d;
}

.btn__link {
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #1f1e1d;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.btn__yellow {
  background: #ffcb09;
}

.btn__yellow:hover {
  background: #ffd741;
}

.btn__grey {
  background: #efefef;
}

.btn__grey:hover {
  background: #ffcb09;
}

/*===== header styles =====*/
.header {
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.header .container {
  max-width: 1718px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top {
  padding: 9px 0 8px;
  border-bottom: 1px solid #e3e3e3;
}

.header__top .container,
.header__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__elem {
  position: relative;
  margin-right: 70px;
  cursor: pointer;
}

.header__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header__link:hover {
  color: #ffcb09;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link svg {
  margin-left: 8px;
}

.header__link path {
  -webkit-transition: stroke 0.2s ease-in-out;
  transition: stroke 0.2s ease-in-out;
}

.header__link:hover path {
  stroke: #ffcb09;
}

.header__company {
  height: 341px;
}

.header__services {
  height: 304px;
}

.header__cont {
  height: 82px;
}

.dropdown_menu {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 5;
  width: 274px;
  padding: 30px 18px 35px 18px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  border-radius: 0px 0px 10px 10px;
  cursor: default;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.dropdown_menu.active {
  visibility: visible;
  opacity: 1;
}

.dropdown_menu.dropdown__list {
  display: block;
}

.dropdown_menu li {
  display: block;
  margin-bottom: 20px;
}

.dropdown_menu li:last-child {
  margin-bottom: 0;
}

.dropdown_show::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 20px;
  cursor: default;
}

.dropdown_show:hover .header__list {
  color: #ffcb09;
}

.dropdown_show:hover .header__list path {
  stroke: #ffcb09;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  height: 36px;
  background: #f5f7fb;
  border-radius: 100px;
  cursor: pointer;
}

.header__search img {
  margin: 0 14px 0 30px;
}

.header__search p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.header__logo {
  position: relative;
  width: 203px;
  height: 39px;
}

.header__logo a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.logo-big {
  display: block;
  width: 100%;
  height: auto;
}

.logo-small {
  display: none;
  width: 100%;
  height: auto;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
}

.header__item:nth-child(1) {
  margin-right: 49px;
}

.header__item:nth-child(2) {
  margin-right: 63px;
}

.header__item:nth-child(3) {
  margin-right: 59px;
}

.header__contact {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__messengers {
  position: absolute;
  top: -20px;
  right: -52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__messengers svg {
  cursor: pointer;
}

.header__whatsapp,
.header__viber {
  position: relative;
}

.header__whatsapp a,
.header__viber a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.header__whatsapp path,
.header__viber path {
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.header__viber {
  position: relative;
  top: 2px;
}

.header__item:hover .header__contact {
  color: #ffcb09;
}

.header__item:hover .header__whatsapp path:first-child {
  fill: #00e676;
}

.header__item:hover .header__viber path:first-child {
  fill: #7b519c;
}

/*===== header small menu styles =====*/
.header__menu-small {
  display: none;
}

.header__search-small {
  cursor: pointer;
  margin-right: 30px;
}

.header__burger {
  position: relative;
  width: 21px;
  height: 16px;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  background-color: #1f1e1d;
  left: 0;
  width: 100%;
  height: 2px;
  top: 7px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #1f1e1d;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 100px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 7px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 7px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

/*===== burger menu styles =====*/
.burger__nav {
  position: fixed;
  top: 50px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 50px);
  z-index: 1010;
  padding: 20px 45px 29px 22px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  overflow: hidden;
}

.burger__nav.active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.burger__container {
  overflow: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger__list {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.burger__item {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.burger__item a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.burger__item a:hover {
  color: #ffcb09;
}

.burger__item svg {
  position: relative;
  top: -1px;
  margin-left: 12px;
}

.burger__item path {
  -webkit-transition: stroke 0.2s ease-in-out;
  transition: stroke 0.2s ease-in-out;
}

.burger__item a:hover path {
  stroke: #ffcb09;
}

.burger__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger__contact-item {
  margin-right: 7.11%;
}

.burger__contact-item:last-child {
  margin-right: 0;
}

.burger__contact-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.burger__contact-item:hover a {
  color: #ffcb09;
}

.burger__contact-item.social {
  position: relative;
}

.burger__social {
  position: absolute;
  top: -28px;
  right: -47px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger__whatsapp {
  margin-right: 2px;
}

.burger__whatsapp,
.burger__viber {
  position: relative;
}

.burger__whatsapp a,
.burger__viber a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.burger__dropdown {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.burger__dropdown-item {
  margin-top: 20px;
}

.burger__dropdown-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

/*===== header search styles =====*/
.header__search-frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.12);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.header__search-frame.active {
  visibility: visible;
  opacity: 1;
}

.header__search-field {
  position: relative;
  width: 664px;
  height: 475px;
  margin: 52px auto 0;
  background: #fff;
  border-radius: 10px;
}

.header__search-closer {
  position: absolute;
  right: -25px;
  top: -25px;
  z-index: 10;
  cursor: pointer;
}

.header__search-top {
  width: 100%;
  height: 94px;
  padding: 21px 16px 0 16px;
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.header__search-request input {
  width: 100%;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
}

.header__search-request input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.header__search-request input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.header__search-request input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.header__search-request input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.header__search-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search-category {
  position: relative;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #999;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header__search-category:last-child {
  margin-right: 0;
}

.header__search-category.active {
  color: #1f1e1d;
}

.header__search-category.active::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1000px;
  background-color: #1f1e1d;
}

.header__search-output {
  padding: 4px 16px;
}

.header__search-init {
  display: none;
  padding-top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
}

.header__search-init.active {
  display: block;
}

.header__search-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0 16px;
  border-bottom: 1px solid rgba(227, 227, 227, 0.5);
  color: #1f1e1d;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header__search-item:last-child {
  border: none;
}

.header__search-item:hover {
  color: #ffcb09;
}

.header__search-item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  outline: none;
}

.header__search-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header__search-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

/*===== intro styles =====*/
.intro {
  padding-top: 122px;
  background: url("./../img/intro/intro-bg.jpg") center/cover no-repeat;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__about {
  width: 43%;
  margin-right: 6%;
}

.intro__info {
  position: relative;
  top: 55px;
  width: 51%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
}

.intro__slider {
  position: relative;
  width: 100%;
  min-height: 229px;
  margin-bottom: 7px;
  background: #fff;
  border-radius: 10px;
}

.intro__slide {
  padding: 30px 35px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro__header {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #1f1e1d;
}

.intro__text {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.intro__nav {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__prev,
.intro__next {
  position: relative;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.intro__prev img,
.intro__next img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro__navButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.intro__prev:hover .intro__navButton,
.intro__next:hover .intro__navButton {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.intro__prev {
  margin-right: 16px;
}

.intro__news,
.intro__promotion {
  width: 49.5%;
  min-height: 229px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.intro__news:hover .intro__category,
.intro__promotion:hover .intro__category {
  color: #ffcb09;
}

.intro__news {
  margin-right: 1%;
}

.intro__category {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.intro__name {
  margin-bottom: 39px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #1f1e1d;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.intro__name:hover {
  color: #ffcb09;
}

.intro__name a {
  display: block;
}

.intro__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__posted,
.intro__watches,
.intro__likes {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #acacac;
}

/*===== fixed styles =====*/
.fixed {
  position: fixed;
  right: 18px;
  bottom: 18px;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fixed.show {
  visibility: visible;
  opacity: 1;
}

.fixed__toTop {
  position: relative;
  margin-bottom: 13px;
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.fixed__toTop img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-bg {
  width: 54px;
  height: 54px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.fixed__toTop:hover .button-bg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fixed__showField {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed__showField circle {
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.fixed__showField:hover circle {
  fill: #ffd741;
}

.fixed__feedback {
  position: fixed;
  right: 83px;
  bottom: 20px;
  z-index: 1200;
  width: 381px;
  height: 308px;
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  visibility: visible;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fixed__feedback.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.fixed__close {
  position: absolute;
  top: -24px;
  right: -24px;
  width: 21px;
  height: 21px;
  z-index: 2;
  cursor: pointer;
}

.fixed__feedbackTitle {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.fixed__item {
  display: block;
  width: 100% !important;
  height: 34px;
  margin-right: 0;
  margin-bottom: 30px;
}

.fixed__name::-webkit-input-placeholder,
.fixed__phone::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
}

.fixed__name:-ms-input-placeholder,
.fixed__phone:-ms-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
}

.fixed__name::-ms-input-placeholder,
.fixed__phone::-ms-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
}

.fixed__name::placeholder,
.fixed__phone::placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
}

.fixed__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.12);
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  visibility: visible;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fixed__bg.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.fixed__after {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
}

/*===== technics styles =====*/
.technics {
  padding-top: 150px;
  padding-bottom: 150px;
}

.technics__title {
  margin-bottom: 30px;
}

.technics__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 23% 23% 23%;
      grid-template-columns: 23% 23% 23% 23%;
  -ms-grid-rows: 320px 320px;
      grid-template-rows: 320px 320px;
  gap: 30px;
}

.technics__item {
  position: relative;
  padding: 10px 30px 30px 30px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.technics__item:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.technics__item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  outline: none;
}

.technics__img {
  margin-bottom: 20px;
}

.technics__img img {
  display: block;
  width: 100%;
  height: auto;
}

.technics__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #1f1e1d;
}

.technics__price {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1f1e1d;
}

.technics__offers {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #acacac;
}

/*===== about styles =====*/
.about {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f5f7fb url("./../img/about/about-bg.png") top right no-repeat;
}

.about__title {
  margin-bottom: 40px;
}

.about__wrapper {
  margin-bottom: 40px;
}

.about__top,
.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__top {
  margin-bottom: 2px;
}

.about__top .about__dark {
  background: url("./../img/about/1.jpg") center/cover no-repeat;
}

.about__bottom .about__dark {
  background: url("./../img/about/2.jpg") center/cover no-repeat;
}

.about__light {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__light,
.about__dark {
  min-height: 307px;
}

.about__first,
.about__second {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 23px 45px 30px;
}

.about__first {
  margin-right: 2px;
}

.about__first h4 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  color: #1f1e1d;
}

.about__first img {
  display: block;
  width: 58%;
  height: auto;
  margin: 0 auto;
}

.about__second {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.about__number {
  font-size: 64px;
  line-height: 120%;
  color: #1f1e1d;
}

.about__text {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.about__text:nth-child(2) {
  margin-bottom: 30px;
}

.about__dark {
  width: 45%;
  padding: 91px 122px 20px 30px;
  border-radius: 10px;
}

.about__subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.about__description {
  font-size: 14px;
  line-height: 170%;
  color: #fff;
}

.about__link {
  margin: 0 auto;
}

/*===== catalog styles =====*/
.catalog {
  padding-top: 150px;
  padding-bottom: 150px;
}

.catalog__title {
  margin-bottom: 20px;
}

.catalog__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.catalog__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 36px;
  margin-right: 2%;
  padding: 0 26px;
  border: 1px solid #e3e3e3;
  border-radius: 100px;
}

.catalog__search img {
  margin-left: 15px;
}

.catalog__search input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.catalog__search input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.catalog__search input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.catalog__search input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.catalog__search input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.catalog__sort {
  position: relative;
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  cursor: pointer;
}

.catalog__sort span {
  margin-right: 8px;
}

.catalog__sort::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -9px;
  left: 0;
  z-index: 2;
  cursor: default;
}

.catalog__sort-list {
  position: absolute;
  left: 50%;
  top: 23px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  width: 145px;
  height: 113px;
  padding: 16px 12px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  border-radius: 0px 0px 10px 10px;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.catalog__sort-list.active {
  visibility: visible;
  opacity: 1;
}

.catalog__sort-item {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 15px;
  color: #4d5051;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.catalog__sort-item:last-child {
  margin-bottom: 0;
}

.catalog__sort-item:hover {
  color: #ffcb09;
}

.catalog__categories {
  width: 100%;
}

.catalog__category {
  float: left;
  margin: 0 10px 10px 0;
  padding: 7px 12px 9px;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 100px;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.catalog__category:hover {
  border: 1px solid rgba(227, 227, 227, 0.5);
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.catalog__category.active {
  border: 1px solid #ffcb09;
}

.clearfix {
  clear: both;
}

.catalog__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 22px;
}

.catalog__item {
  position: relative;
  min-height: 301px;
  margin-bottom: 30px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-animation: addItems 0.4s ease-in-out;
          animation: addItems 0.4s ease-in-out;
}

.catalog__item:hover {
  background: rgba(0, 0, 0, 0.09);
}

.catalog__item:hover .catalog__button {
  visibility: visible;
  opacity: 1;
}

.catalog__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.catalog__button {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 123px;
  left: 50%;
  z-index: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.catalog__button:hover {
  background: #ffcb09;
}

.catalog__img {
  width: 100%;
  height: 135px;
  border-radius: 10px 10px 0 0;
}

.catalog__img img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.catalog__info {
  padding: 10px 16px 10px;
}

.catalog__header {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #1f1e1d;
}

.catalog__options {
  margin-bottom: 10px;
}

.catalog__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
}

.catalog__name {
  font-weight: 400;
  color: #a3a3a3;
}

.catalog__value {
  text-align: right;
  color: #4d5051;
}

.catalog__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1f1e1d;
}

.catalog__more {
  margin: 20px auto 0;
}

/*===== first feedback styles =====*/
.feedback__wrapper {
  padding: 70px 73px 75px 73px;
  background: #f5f7fb;
  border-radius: 10px;
}

.feedback__title {
  margin-bottom: 24px;
}

.feedback__subtitle {
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__item {
  position: relative;
  width: 31.25%;
  margin-right: 4.8%;
}

.feedback__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #4d5051;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.feedback__item.error::after {
  background-color: #fc3a3a;
}

.feedback__item.error .feedback__name::-webkit-input-placeholder,
.feedback__item.error .feedback__phone::-webkit-input-placeholder {
  color: #fc3a3a;
}

.feedback__item.error .feedback__name:-ms-input-placeholder,
.feedback__item.error .feedback__phone:-ms-input-placeholder {
  color: #fc3a3a;
}

.feedback__item.error .feedback__name::-ms-input-placeholder,
.feedback__item.error .feedback__phone::-ms-input-placeholder {
  color: #fc3a3a;
}

.feedback__item.error .feedback__name::placeholder,
.feedback__item.error .feedback__phone::placeholder {
  color: #fc3a3a;
}

.feedback__name,
.feedback__phone {
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
}

.feedback__name::-webkit-input-placeholder,
.feedback__phone::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.feedback__name:-ms-input-placeholder,
.feedback__phone:-ms-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.feedback__name::-ms-input-placeholder,
.feedback__phone::-ms-input-placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.feedback__name::placeholder,
.feedback__phone::placeholder {
  font-size: 14px;
  line-height: 170%;
  color: #1f1e1d;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

/*===== services styles =====*/
.services {
  padding-top: 150px;
  padding-bottom: 150px;
}

.services__title {
  margin-bottom: 40px;
}

.services__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (253px)[2];
      grid-template-rows: repeat(2, 253px);
  gap: 30px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px 0;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.services__item:first-child {
  position: relative;
  border: none;
  overflow: hidden;
}

.services__item:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.services__item-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: url("./../img/services/1.jpg") center/cover no-repeat;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.services__item:first-child:hover .services__item-bg {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.services__info {
  text-align: center;
}

.services__header {
  margin: 0 26px 20px 26px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.services__text {
  margin: 0 36px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.services__item:first-child .services__header {
  color: #fff;
}

.services__item:first-child .services__text {
  max-width: 66.5%;
  margin: 0 auto;
  color: #fff;
}

.services1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.services2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.services3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.services4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.services5 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

/*===== advantage styles =====*/
.advantage {
  padding-bottom: 150px;
}

.advantage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__main {
  width: 43%;
  margin-right: 7.5%;
}

.advantage__title {
  margin-bottom: 20px;
}

.advantage__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.advantage__wrapper {
  width: 48.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1px 1fr;
      grid-template-columns: 1fr 1px 1fr;
  gap: 50px 14px;
}

.advantage__border {
  height: 100%;
  background-color: #efefef;
}

.advantage__icon {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

.advantage__header {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.advantage__description {
  font-size: 14px;
  line-height: 150%;
  color: #4d5051;
}

/*===== news styles =====*/
.news {
  padding-bottom: 150px;
}

.news__title {
  margin-bottom: 40px;
}

.news__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (253px)[2];
      grid-template-rows: repeat(2, 253px);
  gap: 30px;
  margin-bottom: 50px;
}

.news1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.news2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.news3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.news4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.news5 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.news__item {
  padding: 20px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.news__item:first-child {
  border: none;
  background-color: #f5f7fb;
}

.news__item:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.news__header {
  height: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.news__info {
  height: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #acacac;
}

.news__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__views {
  margin-right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__icon {
  margin-right: 6px;
}

.news__more {
  margin: 0 auto;
}

.news__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*===== brands styles =====*/
.brands {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f5f7fb;
}

.brands__title {
  width: 72%;
  margin-bottom: 40px;
}

.brands__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (70px)[3];
      grid-template-rows: repeat(3, 70px);
  gap: 20px;
}

.brands__item {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 6px;
}

.brands__item img {
  display: block;
}

.brands__item:nth-child(1) img {
  width: 72.5%;
}

.brands__item:nth-child(2) img {
  width: 52%;
}

.brands__item:nth-child(3) img {
  width: 37.6%;
}

.brands__item:nth-child(4) img {
  width: 93.6%;
}

.brands__item:nth-child(5) img {
  width: 81.7%;
}

.brands__item:nth-child(6) img {
  width: 40%;
}

.brands__item:nth-child(7) img {
  width: 83.5%;
}

.brands__item:nth-child(8) img {
  width: 68.8%;
}

.brands__item:nth-child(9) img {
  width: 74.3%;
}

.brands__item:nth-child(10) img {
  width: 60.55%;
}

.brands__item:nth-child(11) img {
  width: 67.4%;
}

.brands__item:nth-child(12) img {
  width: 78.9%;
}

.brands__item:nth-child(13) img {
  width: 81.7%;
}

.brands__item:nth-child(14) img {
  width: 81.7%;
}

.brands__item:nth-child(15) img {
  width: 90.8%;
}

/*===== need styles =====*/
.need {
  padding-top: 150px;
  padding-bottom: 150px;
}

.need__title {
  width: 82%;
  margin-bottom: 20px;
}

.need__text {
  width: 87%;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.need__text:nth-child(2) {
  margin-bottom: 20px;
}

.need__text:nth-child(4) {
  margin-bottom: 10px;
}

.need__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.need__list:first-child {
  margin-right: 100px;
}

.need__list li {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.need__list li:last-child {
  margin-bottom: 0;
}

.need__list li img {
  margin-right: 10px;
}

/*===== causes styles =====*/
.causes {
  padding-top: 150px;
  padding-bottom: 150px;
  background: url("./../img/causes/causes-bg.jpg");
}

.causes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.causes__main {
  width: 44%;
  margin-right: 4.5%;
}

.causes__title {
  margin-bottom: 20px;
  color: #fff;
}

.causes__text {
  color: #fff;
}

.causes__text,
.causes__description {
  font-size: 14px;
  line-height: 170%;
}

.causes__wrapper {
  width: 51.5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (297px)[2];
      grid-template-rows: repeat(2, 297px);
  gap: 7px;
}

.causes__item {
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  border-radius: 10px;
}

.causes__icon {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
}

/*===== reasons styles =====*/
.reasons {
  padding-top: 150px;
  padding-bottom: 150px;
}

.reasons__title {
  width: 61%;
  margin-bottom: 30px;
}

.reasons__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (253px)[2];
      grid-template-rows: repeat(2, 253px);
  gap: 30px;
  margin-bottom: 50px;
}

.reason1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.reason2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.reason3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.reason4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.reason5 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.reasons__item {
  padding: 30px 30px 50px 30px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.reasons__item:first-child {
  padding: 50px 30px 50px 30px;
  border: none;
  background-color: #f5f7fb;
}

.reasons__item:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.reasons__text {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.reason1 .reasons__text:first-child {
  margin-bottom: 10px;
}

.reasons__number {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 120%;
  color: #ffcb09;
}

/*===== machines styles =====*/
.machines {
  padding-bottom: 150px;
}

.machines__title {
  width: 58%;
  margin-bottom: 30px;
}

.machines__intro {
  position: relative;
  margin-bottom: 30px;
  padding: 104px 0 114px;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  overflow: hidden;
}

.machines__intro:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.machines__intro-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("./../img/machines/machines__bg.jpg") center/cover no-repeat;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.machines__intro:hover .machines__intro-bg {
  width: 103%;
  height: 103%;
}

.machines__header,
.machines__subheader {
  margin: 0 auto;
  text-align: center;
}

.machines__header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.machines__subheader {
  width: 52%;
  font-size: 14px;
  line-height: 170%;
  color: #fff;
}

.machines__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (70px)[3];
      grid-template-rows: repeat(3, 70px);
  gap: 30px;
  margin-bottom: 30px;
}

.machines__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 6px;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.machines__item:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.machines__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.machines__name {
  text-align: center;
  padding: 13px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 170%;
  color: #4d5051;
}

.machines__text {
  width: 86%;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.machines__text:last-child {
  margin-bottom: 0;
}

/*===== reviews styles =====*/
.reviews {
  padding-bottom: 150px;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__slider-container,
.reviews__slider {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.reviews__slider {
  z-index: 3;
}

.reviews__preview {
  position: relative;
  z-index: 3;
  width: 31.62%;
  height: 300px;
  overflow: hidden;
  background-color: #999;
  border-radius: 10px;
  cursor: pointer;
}

.reviews__preview img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reviews__preview:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.reviews__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__info {
  position: relative;
  width: 68.38%;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 63px 110px 70px 36px;
  border: 1px solid rgba(227, 227, 227, 0.5);
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reviews__info:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.reviews__header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #1f1e1d;
}

.reviews__text {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.reviews__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.reviews__nav {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reviews__prev,
.reviews__next {
  position: relative;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.reviews__prev img,
.reviews__next img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews__prev {
  left: -70px;
}

.reviews__next {
  right: -70px;
}

.reviews__navButton {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
          box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.reviews__prev:hover .reviews__navButton,
.reviews__next:hover .reviews__navButton {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*===== feedback styles =====*/
.feedback.second__feedback {
  padding: 80px 0 100px;
  background-color: #f5f7fb;
}

/*===== footer styles =====*/
.footer {
  padding: 43px 0 0;
}

.footer__logo {
  max-width: 252px;
  position: relative;
  margin-bottom: 30px;
}

.footer__logo a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "info nav" "other nav" "social nav";
  -ms-grid-columns: 330px 165px;
      grid-template-columns: 330px 165px;
  -ms-grid-rows: 180px 67px 30px;
      grid-template-rows: 180px 67px 30px;
  gap: 43px 370px;
  margin-bottom: 33px;
}

.footer__info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
}

.footer__nav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: nav;
}

.footer__other {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: other;
}

.footer__social {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ft_link {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.ft_link:hover {
  color: #ffcb09;
}

.footer__text {
  position: relative;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.footer__text:last-child {
  margin-bottom: 0;
}

.footer__text svg {
  margin-right: 8px;
}

.footer__text a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.footer__text path {
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}

.footer__text:hover path {
  fill: #ffcb09;
}

.footer__link {
  display: block;
  width: 100%;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1f1e1d;
}

.footer__el {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #1f1e1d;
}

.footer__el:first-child {
  margin-bottom: 23px;
}

.footer__item {
  position: relative;
}

.footer__item a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.footer__item path {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer__item:hover path {
  fill: #ffd741;
}

.footer__bottom {
  padding: 20px 0 21px;
  background-color: #f5f7fb;
}

.footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__company,
.footer__dev {
  font-size: 14px;
  line-height: 170%;
  color: #4d5051;
}

.footer__company a,
.footer__dev a {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer__company a:hover,
.footer__dev a:hover {
  color: #1f1e1d;
}

/* появление блоков при скролле */
.element-animation {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/* Стили при работе с формами */
input::-webkit-input-placeholder {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
input:-ms-input-placeholder {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
input::-ms-input-placeholder {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
input::placeholder {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

form {
  position: relative;
}

.error__message {
  position: absolute;
  top: -23px;
  left: 0;
  font-size: 12px;
  line-height: 170%;
  color: #fc3a3a;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.error__message.show {
  visibility: visible;
  opacity: 1;
}

/*==== animations ====*/
@-webkit-keyframes addItems {
  from {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes addItems {
  from {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*===== adaptive styles =====*/
@media (max-width: 1600px) {
  .header .container {
    max-width: 1230px;
  }
  .header__elem {
    margin-right: 40px;
  }
  .header__search {
    width: 360px;
  }
}

@media (max-width: 1365px) {
  .reviews__prev {
    left: -50px;
  }
  .reviews__next {
    right: -50px;
  }
}

@media (max-width: 1279px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  /*===== header styles 1230px =====*/
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 20px;
  }
  .header .container {
    max-width: 100%;
    padding: 0;
  }
  .header__top,
  .header__contacts {
    display: none;
  }
  .header__logo {
    width: 115px;
    height: 24px;
  }
  .logo-big {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .header__menu-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__nav {
    display: none;
  }
}
